*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-screen{
  position: relative;
  margin: 50px auto;
  width: 480px;
  height: 480px;
  border: 1px solid black;
}

.snake-part{
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: black;
  border: 1px solid white;
}